OPENBB_VIX_SYMBOL=^VIX
OPENBB_VIX_PROVIDER=yfinance
OPENBB_VOL_LOOKBACK_DAYS=14
OPENBB_FRED_PROVIDER=fred
OPENBB_STRESS_SERIES=STLFSI4
OPENBB_PRESSURE_SERIES=NFCI
OPENBB_MACRO_LOOKBACK_DAYS=60
OPENBB_SERVICE_HOST=127.0.0.1
OPENBB_SERVICE_PORT=8000
